<body class="
          m-page--fluid
          m--skin-
          m-content--skin-light2
          m-header--fixed
          page-header-top-fixed
          page-sidebar-fixed
          page-footer-fixed
          m-header--fixed-mobile
          m-aside-left--fixed
          dropdown-light2
          m-aside-left--enabled
          m-aside-left--skin-light2
          m-aside-left--offcanvas
          m-footer--push
          m-aside--offcanvas-default">
  <div class="
        m-grid
        m-grid--hor
        m-grid--root
        m-page">
    <% include nav-header %>
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
      <button class="m-aside-left-close  m-aside-left-close--skin-light2 " id="m_aside_left_close_btn">
        <i class="la la-close"></i>
      </button>
      <div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-light ">
        <div id="m_ver_menu" class="m-aside-menu  m-aside-menu--light m-aside-menu--submenu-skin-light "
          m-menu-vertical="1" m-menu-scrollable="0" m-menu-dropdown-timeout="500">
          <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">
            <% if(menu.data.data.employee){ %>
              <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
                <a href="javascript:;" class="m-menu__link m-menu__toggle">
                  <i class="m-menu__link-icon flaticon-layers"></i>
                  <span class="m-menu__link-text">
                    Role & Employee
                  </span>
                  <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
                <div class="m-menu__submenu ">
                  <span class="m-menu__arrow"></span>
                  <ul class="m-menu__subnav">
                    <li class="m-menu__item " aria-haspopup="true">
                      <a href="/roles" class="m-menu__link ">
                        <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                          <span></span>
                        </i>
                        <span class="m-menu__link-text">
                          Roles
                        </span>
                        <i class="m-menu__ver-arrow la la-angle-right"></i>
                      </a>
                    </li>
                    <li class="m-menu__item " aria-haspopup="true">
                      <a href="/employee" class="m-menu__link ">
                        <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                          <span></span>
                        </i>
                        <span class="m-menu__link-text">
                          Employee
                        </span>
                        <i class="m-menu__ver-arrow la la-angle-right"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
            <%}%>
            <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
              <a href="javascript:;" class="m-menu__link m-menu__toggle">
                <i class="m-menu__link-icon flaticon-layers"></i>
                <span class="m-menu__link-text">
                  Ticket
                </span>
                <i class="m-menu__ver-arrow la la-angle-right"></i>
              </a>
              <div class="m-menu__submenu ">
                <span class="m-menu__arrow"></span>
                <ul class="m-menu__subnav">
                  <% if(menu.data.data.ticket){ %>
                  <li class="m-menu__item " aria-haspopup="true">
                    <a href="/createticket" class="m-menu__link ">
                      <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                        <span></span>
                      </i>
                      <span class="m-menu__link-text">
                        Register Ticket
                      </span>
                      <i class="m-menu__ver-arrow la la-angle-right"></i>
                    </a>
                  </li>
                  <li class="m-menu__item " aria-haspopup="true">
                    <a href="/updateticket" class="m-menu__link ">
                      <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                        <span></span>
                      </i>
                      <span class="m-menu__link-text">
                        Update Ticket
                      </span>
                      <i class="m-menu__ver-arrow la la-angle-right"></i>
                    </a>
                  </li>
                  <% } %>
                  <% if(menu.data.data.sellTicket){ %>
                  <li class="m-menu__item" aria-haspopup="true" m-menu-submenu-toggle="hover">
                    <a href="/sellticket" class="m-menu__link m-menu__toggle">
                      <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                        <span></span>
                      </i>
                      <span class="m-menu__link-text">
                        Sell Ticket
                      </span>
                      <i class="m-menu__ver-arrow la la-angle-right"></i>
                    </a>
                  </li>
                  <% } %>
                  <% if(menu.data.data.entryTicket){ %>
                  <li class="m-menu__item" aria-haspopup="true" m-menu-submenu-toggle="hover">
                    <a href="/entryticket" class="m-menu__link">
                      <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                        <span></span>
                      </i>
                      <span class="m-menu__link-text">
                        Entry Ticket
                      </span>
                      <i class="m-menu__ver-arrow la la-angle-right"></i>
                    </a>
                  </li>
                  <% } %>
                </ul>
              </div>
            </li>
            <%if(menu.data.data.type){%>
              <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
                <a href="javascript:;" class="m-menu__link m-menu__toggle">
                  <i class="m-menu__link-icon flaticon-layers"></i>
                  <span class="m-menu__link-text">
                    Type
                  </span>
                  <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
                <div class="m-menu__submenu ">
                  <span class="m-menu__arrow"></span>
                  <ul class="m-menu__subnav">
                    <li class="m-menu__item " aria-haspopup="true">
                      <a href="/type" class="m-menu__link m-menu__toggle">
                        <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                          <span></span>
                        </i>
                        <span class="m-menu__link-text">
                          Data Type
                        </span>
                        <i class="m-menu__ver-arrow la la-angle-right"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
            <%}%>
            <% if(menu.data.data.company){ %>
            <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
              <a href="/company" class="m-menu__link m-menu__toggle">
                <i class="m-menu__link-icon flaticon-layers"></i>
                <span class="m-menu__link-text">
                  Company
                </span>
                <i class="m-menu__ver-arrow la la-angle-right"></i>
              </a>
            </li>
            <% } %>
            <% if(menu.data.data.outletSeller){ %>
            <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
              <a href="/outletseller" class="m-menu__link m-menu__toggle">
                <i class="m-menu__link-icon flaticon-layers"></i>
                <span class="m-menu__link-text">
                  Outlet Seller
                </span>
                <i class="m-menu__ver-arrow la la-angle-right"></i>
              </a>
            </li>
            <% } %>
            <% if(menu.data.data.outletEntry){ %>
            <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
              <a href="/outletentry" class="m-menu__link m-menu__toggle">
                <i class="m-menu__link-icon flaticon-layers"></i>
                <span class="m-menu__link-text">
                  Outlet Entry
                </span>
                <i class="m-menu__ver-arrow la la-angle-right"></i>
              </a>
            </li>
            <% } %>
            <% if(menu.data.data.sellReport){ %>
            <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
              <a href="/sell-report" class="m-menu__link m-menu__toggle">
                <i class="m-menu__link-icon flaticon-layers"></i>
                <span class="m-menu__link-text">
                  Sell Report
                </span>
                <i class="m-menu__ver-arrow la la-angle-right"></i>
              </a>
            </li>
            <% } %>
            <% if(menu.data.data.lossReport){ %>
            <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
              <a href="/loss-report" class="m-menu__link m-menu__toggle">
                <i class="m-menu__link-icon flaticon-layers"></i>
                <span class="m-menu__link-text">
                  Loss Report
                </span>
                <i class="m-menu__ver-arrow la la-angle-right"></i>
              </a>
            </li>
            <% } %>
            <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
              <a href="/checkin-outlet-entry" class="m-menu__link m-menu__toggle">
                <i class="m-menu__link-icon flaticon-layers"></i>
                <span class="m-menu__link-text">
                  Checkin Outlet Entry
                </span>
                <i class="m-menu__ver-arrow la la-angle-right"></i>
              </a>
            </li>
            <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
              <a href="/checkin-outlet-seller" class="m-menu__link m-menu__toggle">
                <i class="m-menu__link-icon flaticon-layers"></i>
                <span class="m-menu__link-text">
                  Checkin Outlet Seller
                </span>
                <i class="m-menu__ver-arrow la la-angle-right"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="m-grid__item m-grid__item--fluid m-wrapper">