<% include layout/header %>
<% include layout/navigation %>

<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Available Ticket
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <!--begin: Datatable -->
            <table class="m_datatable datatable-table table table-striped table-bordered table-hover table-checkable" id="tables">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Prefix</th>
                        <th>Ticket Number</th>
                        <!-- <th>Id Outlet</th> -->
                    </tr>
                </thead>
                <tbody>
                    <%if(stokTicket.data.success){%>
                        <% stokTicket.data.data.forEach(
                            (rows) => { %>
                            <tr>
                                <td><%=rows.id%></td>
                                <td><%=rows.prefix%></td>
                                <td><%=rows.ticket_number%></td>
                                <!-- <td><%=rows.id_outlet%></td> -->
                            </tr>
                            <% }
                        ) %>
                    <%}%>
                </tbody>
            </table>
        </div>
    </div>
</div>

<% include layout/footer %>
<% include layout/script %>

<script type="text/javascript">
</script>
